root {
    --color-red: #a34136;
    --color-yellow: #FFC000;
}


h3 {
    text-align: center;
    color:  white
}
body {
    font-family: sans-serif;
    padding: 10px;
    width: 250px;
    background: #0d0d0d;
}
input {
    width: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    background-color: black;
    margin-top: 1.5rem; width: 100%;

    border-radius: 5px;
    padding: 0.3rem;
}
#remove {
    color: #a34136;
    border: #a34136 solid 1px;
}
#remove:hover {
    background-color: #c36055;
    color: black;
}
#apply {
    border:  #8fd668 solid 1px;
    color: #8fd668;
}
#apply:hover {
    background-color: #bcf4a3;
    color: black;
}
.inputdiv {
    display: flex; align-items: center; justify-content: space-around; flex-direction: row; gap: 0.5rem;
}